<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatteryAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BatteryAlert.Properties.Settings>
            <setting name="currentSound" serializeAs="String">
                <value />
            </setting>
            <setting name="launchOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </BatteryAlert.Properties.Settings>
    </userSettings>
</configuration>